body, html {
	    margin: 0;
	    padding: 0;
	    height: 100%;
}

body {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;     /* vertically center */
    flex-direction: column;   /* stacks children vertically */
    min-height: 100vh;        /* ensures full viewport height */
    margin: 0;                /* removes default margin */
    text-align: center;       /* centers inline text content */
}
